#Buttons
{
    width: 800px;
}

h1,h2
{
    text-align: center;
    color: #d0894b;
}

#Buttons button
{
    width: 80px;
    height: 50px;
}

.centre
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dbe3e5
}

button:focus
{
    background-color: #d9b45d;
}

.Next button
{
    width: 80px;
    height: 30px;
}

.Next
{
    margin-left: auto;
    margin-right: auto;
    width: 164px;
    margin-top: 8px;
}

circle
{
    fill: #253542;
}

button
{
    color: #2b4753;
    font-weight: bold;
}